/*Bolsa  de compras*/
.bolsa_pictograma {
	background: #111 url(img/bag.svg) no-repeat center;
	background-color: #f1e60f;
	background-size: 50px;
}

.bolsa_pictograma span {
	margin: auto;
	display: block;
	text-align: center;
	color: #000000
}

.bolsa_pictograma .cantidad_pictograma {
    position: relative;
    margin-top: initial;
    margin-left: inherit;
    background: red;
    border-radius: 12px;
    padding: 3px 10px 3px 5px;
	top: 38px;
	right: 74px;
}

/*Menu*/
/*#header #site-navigation ul.main_menu li:hover{
	color: #ffeb00;
	background: black;
	
}*/
#header #site-navigation ul.main_menu li a:hover{
	color: #ffeb00;
    background: #000;
}
#header #site-navigation ul.main_menu li a:focus{
	color: #ffeb00;
    background: black;
}
#header #site-navigation ul.main_menu li a{
    line-height: 29px;
}
#header #site-navigation ul.main_menu ul {
	top: 59px;
    width: 860px;
    left: -114px;
	background: #000;
	padding: 12px 0px;
}

#header #site-navigation ul.main_menu li li {
    padding: 5px 3px 0;
    text-transform: capitalize;
    width: 205px;
    display: inline-block;
	
}

#header #site-navigation ul.main_menu li li a {
    padding: 0px 13px;
	text-transform: capitalize;
	background-color: #ffffff00;
	
}
#header #site-navigation ul.main_menu li ul li a {
    background: #fff0;
	color: #fff;
	line-height: 1.8;
}

.hovera{
	color: aqua;
	background: rgb(48, 44, 44)
	;
}